:root{
    --clr: #1e9bff
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    /* box-sizing: border-box; */
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: aliceblue;
    background-color: #333;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.password-option{
    width: 600px;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    gap: 25px;
}

.password-option h1{
    font-size: 2em;
}

.password-option div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.password-option .password-box{
    width: 100%;
    height: 80px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 0;
    font-size: 1.5em;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 300ms;
}
.password-box:hover{
    transform: scale(1.03);
}
.password-box:hover > .copy{
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s linear;
}
.password-box > span:nth-child(1){
    width: 95%;
    overflow-wrap: break-word;
}
.password-box > .copy{
    position: absolute;
    right: 0px;
    opacity: 0;
    bottom: 65%;
    font-size: .6em;
    font-weight: 600;
    margin-bottom: 1px;
}

.hide {
    display: none !important;
}

/* Button */
a{
    margin: 10px auto;
    position: relative;
    text-align: center;
    background-color: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 220px;
    letter-spacing: 0.15em;
    font-weight: 600;
    padding: 10px 30px;
    transition: all ease-in-out .5s;
}
a:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: .25em;
    box-shadow: 0 0 35px var(--clr);
}

a:before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}
a span{
    position: relative;
    z-index: 1;
}
a i {
    position: absolute;
    inset: 0;
    display: block;
}
a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 15px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}
a:hover i::before{
    width: 25px;
    left: 20%;
}

a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 15px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}
a:hover i::after{
    width: 25px;
    left: 80%;
}

/* ON/OFF */

/* Apenas o container */
/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
  } */
  
  /* Aqui começa o Toggler On/Off */
  .toggle-wrapper {
    display: flex;
    align-items: center;
  }
  
  /* Texto que decidi adicionar como exemplo */
  .toggle-wrapper .description {
    margin-left: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    /* font-size: 1rem; */
  }
  
  /* Esconde o checkbox */
  .switch > .hidden-toggle {
    display: none;
  }
  
  /* Caixinha onde o botão desliza */
  .switch > .slider {
    background: #ddd;
    border: 0.1rem solid #bbb;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
    width: 6.7rem;
    height: 2.2rem;
    position: relative;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
      0 0 1rem rgba(0, 0, 0, 0.1);
  }
  
  /* O botão redondinho */
  .switch > .slider > .button {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    /* width: 3.2rem;
    height: 3.2rem; */
    background: var(--clr);
    top: 0.3rem;
    left: 0.4rem;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  /* Texto ON ou OFF (começa off) */
  .switch > .slider:after {
    position: absolute;
    top: 53%;
    right: 1rem;
    transform: translate(0, -50%);
    /* font-size: 1.4rem; */
    line-height: 1.4rem;
    color: #444;
    font-weight: bold;
    z-index: 1;
    transition: all 300ms ease-in-out;
    content: "OFF";
    /* color: aliceblue; */
    transition: all ease-in-out 300ms;
  }
  
  /* Slider ON */
  .switch > .hidden-toggle:checked ~ .slider {
    background: var(--clr);
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
      0 0 1rem rgba(50, 0, 150, 0.2);
  }
  
  /* Botão ON */
  .switch > .hidden-toggle:checked ~ .slider > .button {
    left: 4.4rem;
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #e0e2db;
  }
  
  /* Texto ON */
  .switch > .hidden-toggle:checked ~ .slider:after {
    top: 1.1rem;
    right: 4.2rem;
    color: #f1f1ff;
    content: "ON";
  }
  
@media (max-width: 600px) {
    .password-option{
        width: 450px;
        max-width: 600px;
    }
    .password-option .password-box{
        width: 100%;
        height: 120px;
    }
    .password-box > span:nth-child(1){
        width: 90%;
    }
}
@media (max-width: 450px) {
    .password-option{
        width: 350px;
        max-width: 450px;
        border: none;
    }
    .password-option .password-box{
        width: 100%;
        height: 120px;
    }
    .password-box > span:nth-child(1){
        width: 90%;
    }
}